<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="site">
    <meta name="author" content="raphael martinez batista">
    <title>América Neumáticos S.A.</title>
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">

    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152092/smartwizard/smart_wizard.min.css"
        rel="stylesheet" type="text/css" />
    <link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152092/smartwizard/smart_wizard_theme_dots.min.css"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link href="../css/modal_wizard.min.css" rel="stylesheet">
    <link href="../css/excel-bootstrap-table-filter-style.css" rel="stylesheet">
</head>

<body id="page-top sidebar" class="off-canvas hide-extras">
    <div id="wrapper  ">
        <div id="content-wrapper " class="d-flex flex-column">
            <header>
                <nav class="navbar navbar-expand navbar-dark bg-gradient-primary sticky-top topbar shadow" id="mainNav">
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard.html">
                        <div class="mb-2 sidebar-brand-icon">
                            <img id="imgLogo" src="../img/ansalogowhite.min.png" alt="Ansa Logo">
                        </div>
                    </a>
                    <hr class="sidebar-divider my-0">
                    <a class="menuPrincipal navbar-toggler-icon" type="button" data-toggle="collapse"
                        data-bs-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" data-selector-menu></a>

                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" id="searchcomplete"
                                placeholder="Nombre del informe..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" onclick="autocompletesearch(event)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Nombre del informe..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path
                                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-bell" viewBox="0 0 16 16">
                                    <path
                                        d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                                </svg>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Centro de Alerta
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                fill="currentColor" class="bi bi-bell-slash-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.164 14H15c-1.5-1-2-5.902-2-7 0-.264-.02-.523-.06-.776L5.164 14zm6.288-10.617A4.988 4.988 0 0 0 8.995 2.1a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 7c0 .898-.335 4.342-1.278 6.113l9.73-9.73zM10 15a2 2 0 1 1-4 0h4zm-9.375.625a.53.53 0 0 0 .75.75l14.75-14.75a.53.53 0 0 0-.75-.75L.625 15.625z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="font-weight">No hay notificaciones nuevas.</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path
                                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                </svg>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Centro de Mensajes
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                fill="currentColor" class="bi bi-envelope-open-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">No hay mensaje nuevas.</div>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray small" data-username></span>
                                <div class="icon-circle ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                </div>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-history>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-book" viewBox="0 0 16 16">
                                        <path
                                            d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                                    </svg>
                                    Historial de Acceso
                                </a>
                                <a id="perfiladm" class="dropdown-item" href="#" onclick="viewUser(event)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-person-badge" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path
                                            d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" />
                                    </svg>
                                    Mi perfil
                                </a>
                                <a class="dropdown-item" href="#" data-management>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-sliders" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" />
                                    </svg>
                                    Ajustes
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                        <path fill-rule="evenodd"
                                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                    </svg>
                                    Salir
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>

            <div class="col-12 mb-4">
                <div class="container-lg bg-gradient-primary fixed-menu responsive" data-modal-menu>
                    <div class="collapse p-4 responsive" id="navbarResponsive">
                        <div class="row align-items-start">
                            <div class="col-3 text-white features-menu" data-fast-btns>
                                <p class="h6"><i class="fas fa-star"></i> Favoritos</p>
                                <p class="small text-white-50" data-fav-help>Agregue favoritos haciendo clic en la
                                    estrella junto al nombre del servicio.</p>
                                <p class="small text-white-50 mb-1" data-favs-list></p>
                                <p class="h6 pt-2"><i class="fa fa-history"></i> Accedido recientemente</p>
                                <p class="small text-white-50 mb-1" data-recent></p>


                            </div>
                            <div class="col-9 column-menu">
                                <div class="row mb-4">
                                    <div class="col-10 align-self-start">
                                        <p class="h5 text-white">Todos los servicios</p>
                                    </div>
                                    <div class="col-2 text-white"><a data-close-menu><i
                                                class="fas fa-times text-light"></a></i></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 text-white">
                                        <p data-menu-title class="h6"><i class="fas fa-file-alt"></i> Informes</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Listado de Informes"
                                                data-fav-action="data-menu-report"><i class="btn-fav fas fa-star"></i></a>
                                            <a data-report="1"
                                                class="menu-item d-inline nav-link menu-link text-white-50"
                                                id="btnInforme" data-toggle="collapse" data-target="#navbarResponsive"
                                                data-menu-report data-menu-link="data-menu-report">Listado de Informes</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p data-menu-title class="h6"><i class="fas fa-shield-alt"></i> Seguridad</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Vehículos" data-fav-action="data-menu-car"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-report="2"
                                                class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" id="btnVehiculos" data-menu-car
                                                data-menu-link="data-menu-car">Vehículos</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Sucursales" data-fav-action="data-menu-office"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-report="3"
                                                class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-menu-office
                                                id="btnSucursales" data-menu-link="data-menu-office">Sucursales</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p data-menu-title class="h6"><i class="fas fa-folder"></i> Documentación</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Carpeta de archivos" data-fav-action="data-menu-archive"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-files data-menu-archive
                                                data-menu-link="data-menu-archive">Carpeta de archivos</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p data-menu-title class="h6"><i class="fas fa-shopping-cart"></i> Ventas</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="CRM" data-fav-action="data-menu-crm"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-charge class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-crm data-menu-crm
                                                data-menu-link="data-menu-crm">CRM</a>
                                        </div>
                                    </div>
                                    <div class="col-3 text-white">
                                        <p class="h6"><i class="fas fa-money-bill-wave"></i> Finanza</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Cobranza" data-fav-action="data-menu-finance"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-charge class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-finance data-menu-finance
                                                data-menu-link="data-menu-finance">Cobranza</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Diario Orden de Ventas" data-fav-action="data-menu-sale"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-salesorder data-menu-sale
                                                data-menu-link="data-menu-sale">Diario
                                                Orden de
                                                Ventas</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p data-menu-title class="h6"><i class="fas fa-th-large"></i> Articulos</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Metas" data-fav-action="data-menu-goal"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-menu-goal
                                                onclick="listGoals()" data-goals data-menu-link="data-menu-goal">Metas</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Listado de Stock" data-fav-action="data-menu-stock"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-item class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-menu-stock
                                                onclick="listItems()" data-menu-link="data-menu-stock">Listado de Stock</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Listado de Precios y Saldos" data-fav-action="data-menu-price"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-item class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-menu-price
                                                onclick="listPrice()" data-menu-link="data-menu-price">Listado de Precios y Saldos</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Informe Goodyear" data-fav-action="data-menu-goodyear"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-item class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-menu-goodyear
                                                onclick="listGoodyear()" data-menu-link="data-menu-goodyear">Informe Goodyear</a>
                                        </div>
                                    </div>
                                    <div class="col-3 text-white">
                                        <p data-menu-title class="h6"><i class="fas fa-user-friends"></i> Recursos
                                            humanos</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Informe de Personas" data-fav-action="data-menu-people"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-report="4"
                                                class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" id="btnPunto" data-menu-people
                                                data-menu-report data-menu-link="data-menu-people">Informe de Personas</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Listado de Cuestionarios" data-fav-action="data-menu-quiz"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-person class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-btn-quiz data-menu-quiz
                                                data-menu-link="data-menu-quiz">Listado de Cuestionarios</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Control de Punto" data-fav-action="data-menu-point"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-person class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-menu-point
                                                data-menu-link="data-menu-point">Control de Punto</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p class="h6" data-adm><i class="fas fa-users-cog"></i> Administración</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Listado de Usuarios" data-fav-action="data-menu-user"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-adm class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive" data-menu-user
                                                data-menu-link="data-menu-user">Listado de Usuarios</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Listado de Informes" data-fav-action="data-menu-reportAdmin"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-adm class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive"
                                                data-menu-reportAdmin data-menu-link="data-menu-reportAdmin">Listado de Informes</a>
                                        </div>
                                        <div class="d-block mb-2" data-div-link>
                                            <a data-adm href="" data-fav data-fav-name="Listado de Patrimonio" data-fav-action="data-menu-company-assets"><i
                                                    class="btn-fav fas fa-star"></i></a><a
                                                class="menu-item d-inline nav-link menu-link text-white-50"
                                                data-toggle="collapse" data-target="#navbarResponsive"
                                                data-menu-link="data-menu-company-assets" data-menu-company-assets>Listado de Patrimonio</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content">
                <div class="container-fluid">
                    <div class="col-lg-12 text-center">
                        <h1 class="h3 mb-2 font-weight-bold text-primary" data-title></h1>
                    </div>
                    <div class="row" data-card></div>
                    <div class="col-lg-12 text-center">
                        <div class="form-row" data-powerbi></div>
                    </div>
                    <div data-settings></div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-primary" role="status" data-loading>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <table class="table table-bordered text-center mb-2" id="dataTable" width="100%" cellspacing="0">
                    </table>

                    <div data-features></div>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>America Neumaticos S.A. 2021</span>
                    </div>
                </div>
            </footer>

            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form data-form-logout>
                            <div class="modal-header">
                                <h5 class="modal-title">Cerrar sesión?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">x</span>
                                </button>
                            </div>
                            <div class="modal-body">Seleccione salir si desea finalizar la sesión.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger" href="#">Salir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <script src="../vendor/jquery/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

            <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
            <script type="text/javascript"
                src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152197/smartwizard/jquery.smartWizard.min.js"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
            <script src="../js/libs/sb-admin-2.min.js"></script>
            <script type="module" src="../js/controllers/controller.js"></script>
            <script src="../js/services/force.js"></script>
            <script src="../js/services/printpdf.js"></script>
            <script src="../js/libs/jquery.dataTables.min.js"></script>
            <script src="../js/libs/dataTables.bootstrap4.min.js"></script>
            <script src="../js/libs/dataTables.buttons.min.js"></script>
            <script src="../js/libs/jszip.min.js"></script>
            <script src="../js/libs/pdfmake.min.js"></script>
            <script src="../js/libs/pdfmake_vfs_fonts.min.js"></script>
            <script src="../js/libs/buttons.html5.min.js"></script>
            <script src="../js/libs/buttons.print.min.js"></script>
            <script src="../js/libs/geradorarquivo.min.js"></script>

            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
            <script src="../js/libs/modal_wizard.js"></script>
            <script src="../js/libs/excel-bootstrap-table-filter-bundle.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
            <script src="../js/libs/select-pure.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="../js/libs/printThis.js"></script>


            <div data-modal></div>

            <script>
                document.body.style.zoom = "100%"
            </script>

</body>

</html>