<%- include(partials + 'header.ejs' ) %>

    <link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152092/smartwizard/smart_wizard.min.css"
        rel="stylesheet" type="text/css" />
    <link href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152092/smartwizard/smart_wizard_theme_dots.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../css/modal_wizard.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap-select.css" />

    <div class="col-12 text-center">
        <h1 class="h3 mb-4 font-weight-bold text-primary" data-title>Ajustes</h1>
    </div>

    <div class="row gutters-sm">
        <div class="col-md-4 d-none d-md-block">
            <div class="card">
                <div class="card-body">
                    <nav class="nav flex-column text-left nav-pills nav-gap-y-1">
                        <a data-config-archive href="#profile" data-toggle="tab"
                            class="nav-item nav-link has-icon nav-link-faded active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z" />
                                <path
                                    d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                            </svg>
                            Archivos

                        </a>
                        <a data-config-mail href="#account" data-toggle="tab"
                            class="nav-item nav-link has-icon nav-link-faded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                            </svg>
                            Correo electrónico
                        </a>
                        <a data-config-security href="#security" data-toggle="tab"
                            class="nav-item nav-link has-icon nav-link-faded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-shield-shaded" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 14.933a.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067v13.866zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
                            </svg>
                            Seguridad
                        </a>
                        <a data-config-notification href="#notification" data-toggle="tab"
                            class="nav-item nav-link has-icon nav-link-faded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-bell-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                            </svg>
                            Notificaciones
                        </a>
                        <a data-config-salesman href="#salesman" data-toggle="tab"
                            class="nav-item nav-link has-icon nav-link-faded">
                            <i class="fas fa-users"></i>
                            Vendedores
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header border-bottom mb-3 d-flex d-md-none">
                    <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                        <li class="nav-item">
                            <a href="#profile" data-toggle="tab" class="nav-link has-icon active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#account" data-toggle="tab" class="nav-link has-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-mailbox" viewBox="0 0 16 16">
                                    <path
                                        d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z" />
                                    <path
                                        d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z" />
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#security" data-toggle="tab" class="nav-link has-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-shield">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#notification" data-toggle="tab" class="nav-link has-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-bell">
                                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#salesman" data-toggle="tab" class="nav-link has-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-people" viewBox="0 0 16 16">
                                    <path
                                        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="profile">
                        <h6>Ajustes de Archivo</h6>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="fullName">URL de descarga</label>
                                <input type="text" class="form-control" id="fullName" aria-describedby="fullNameHelp"
                                    placeholder="System" value="System">
                                <small id="fullNameHelp" class="form-text text-muted">Puede descargar el archivo a
                                    un repositorio en un servidor interno.</small>
                            </div>
                            <button type="button" class="btn btn-primary">Actualizar URL</button>
                            <button type="reset" class="btn btn-secondary">Restablecer modificaciones</button>
                            <hr>
                            <h6>Tipos de Archivo del Repositorio</h6>
                            <div class="form-group">
                                <button onclick="modaladdtypearchive(event)" type="button" class="btn btn-success">Nuevo
                                    Tipo de Archivo</button>
                            </div>
                            <div class="form-group">
                                <table class="table table-bordered" id="tabletypearchive"></table>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="account">
                        <h6>Ajustes de Correo Electrônico</h6>
                        <hr>
                        <div class="form-group">
                            <button type="button" data-toggle="modal" data-target="#addMail"
                                class="btn btn-success">Nuevo correo
                                electrónico</button>
                        </div>
                        <div class="form-group">
                            <table class="table table-bordered" id="tablemail"></table>
                        </div>
                    </div>
                    <div class="tab-pane" id="security">
                        <h6>Ajustes de Seguridad</h6>
                        <hr>
                        <div class="form-group">
                            <a data-toggle="modal" data-target="#addproseguruser" type="button"
                                class="btn btn-success text-white">Nuevo
                                Usuario</a>
                        </div>
                        <div class="form-group">
                            <table class="table table-bordered" id="tableusers"></table>
                        </div>
                    </div>
                    <div class="tab-pane" id="notification">
                        <h6>Ajustes de notificaciones y correos electrónicos
                        </h6>
                        <hr>
                        <form>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                                    <label class="custom-control-label" for="customCheck1">Reciba correos
                                        electrónicos automáticos</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2" checked="">
                                    <label class="custom-control-label" for="customCheck2">Reciba notificaciones
                                        automáticas</label>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <ul class="list-group list-group-sm">
                                    <li class="list-group-item has-icon">
                                        Nuevos informes
                                        <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1"
                                                checked="">
                                            <label class="custom-control-label" for="customSwitch1"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item has-icon">
                                        Nuevos Stocks
                                        <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                            <label class="custom-control-label" for="customSwitch2"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item has-icon">
                                        Nuevos correos electrónicos programados
                                        <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch3"
                                                checked="">
                                            <label class="custom-control-label" for="customSwitch3"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item has-icon">
                                        Nuevos archivos
                                        <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch4"
                                                checked="">
                                            <label class="custom-control-label" for="customSwitch4"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item has-icon">
                                        Alertas
                                        <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch5">
                                            <label class="custom-control-label" for="customSwitch5"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="salesman">
                        <h6>Ajustes de Vendedores</h6>
                        <hr>
                        <div class="form-group">
                            <a data-toggle="modal" data-target="#addsalesman" type="button"
                                class="btn btn-success text-white">Nuevo
                                Vendedor</a>
                        </div>
                        <div class="form-group">
                            <table class="table table-bordered" id="tablesalesman"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addproseguruser" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar usuario - Prosegur</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form data-add-prosegur-user>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <select name="office" class="form-control" data-prosegur-office required>
                                        <option value="" disabled selected>Sucursal</option>
                                        <option value="01">PJC AUTOCENTRO</option>
                                        <option value="04">ENCARNACION</option>
                                        <option value="06">AUTOCENTRO SHOPPING CHINA</option>
                                        <option value="02">CDE AUTOCENTRO</option>
                                        <option value="03">BELLA VISTA</option>
                                        <option value="05">SALTO DEL GUAIRA</option>
                                        <option value="07">CAPITAN BADO</option>
                                        <option value="08">PINDOTY</option>
                                        <option value="09">CDE ATACADO</option>
                                        <option value="10">PJC TRUCK CENTER</option>
                                        <option value="11">MATRIZ</option>
                                        <option value="12">SANTA RITA</option>
                                        <option value="13">MARIANO ROQUE ALONSO</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <input placeholder="Insira lo Nombre" name="name" type="text" class="form-control"
                                        min="5" max="250" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input placeholder="Insira lo Codigo Prosegur" name="code" type="text" min="1"
                                        max="5" class="form-control" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <select name="orden" class="form-control" data-prosegur-orders required disabled>
                                        <option value="" disabled selected>Orden</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <input placeholder="Contrato" name="contract" type="text" min="2" max="150"
                                        class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <input placeholder="Teléfono de contacto" name="phone" type="text" min="5" max="150"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <button type="submit" name="btn" class=" btn btn-success"><i class="fas fa-plus">
                                        Agregar</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteproseguruser" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Eliminar el usuario Prosegur?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form data-drop-prosegur-user>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class=" col-md-12">
                                    <h8>Asegúrese de que el usuario ya no esté registrado como responsable de ninguna
                                        sucursal de Prosegur.</h8>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger"><i class="fas fa-times"> Eliminar</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteMail" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Eliminar el correo electrónico programado?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form data-drop-mail>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class=" col-md-12">
                                    <h8>El correo electrónico se eliminará y no se podrá volver a ver.</h8>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger"><i class="fas fa-times"> Eliminar</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="viewmail" tabindex="-1">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Correo electrónico programado</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-12 text-left">
                                    <h5 class="text-center"><strong>Suscribirse</strong></h5>
                                    <h8 data-detail-for></h8>
                                </div>
                                <div class="form-group col-md-12 text-left">
                                    <h8 data-detail-cc></h8>
                                </div>
                                <div class="form-group col-md-12 text-left">
                                    <h8 data-detail-cco></h8>
                                    <hr>
                                </div>
                                <div class="form-group col-md-12 text-center">
                                    <h5 data-detail-title></h5>
                                    <hr>
                                </div>
                                <div class="form-group col-md-12 text-center">
                                    <h5><strong>Cuerpo del correo electronico</strong></h5>
                                    <textarea data-detail-body class="form-control" style="height: 90px;"
                                        disabled></textarea>
                                </div>
                                <div class="form-group col-md-12 text-center">
                                    <h5><strong>Archivos Adjuntos:</strong></h5>
                                    <p data-detail-type></p>
                                    <div class="form-group col-md-12 text-left">
                                        <a data-detail-btn-att data-mail-add-attachment data-id_mailpowerbi
                                            class="btn btn-success text-white">Agregar adjunto</a>
                                    </div>
                                    <table class="table table-bordered text-center" id="tableattachment" width="100%"
                                        cellspacing="0"></table>
                                    <hr>
                                </div>
                                <div class="form-group col-md-12 text-center">
                                    <h5><strong>Calendario de envío: </strong></h5>
                                    <div class="form-group col-md-12 text-left">
                                        <a data-detail-btn-timer data-btn-add-timer data-id_mailpowerbi
                                            class="btn btn-success text-white">Agregar envio</a>
                                    </div>
                                    <table class="table table-bordered text-center" id="tablescheduling" width="100%"
                                        cellspacing="0"></table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addMail" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Formulario de programación de correo electrónico
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                                aria-hidden="true">&times;</span> </button>
                    </div>
                    <div class="modal-body">
                        <form data-form-mail>
                            <div id="smartwizard">
                                <ul>
                                    <li><a href="#step-1">Paso 1<br /><small>Correo electrónico</small></a></li>
                                    <li><a href="#step-2">Paso 2<br /><small>Archivos adjuntos</small></a></li>
                                    <li><a href="#step-3">Paso 3<br /><small>Calendario de envío</small></a></li>
                                    <li><a href="#step-4">Paso 3<br /><small>Confirmación</small></a></li>
                                </ul>
                                <div>
                                    <div id="step-1">
                                        <div id="form-step-0" class="form-row" role="form" data-toggle="validator">
                                            <div class="form-group col-md-12 text-center">
                                                <h5 class="modal-title">Correo electrónico</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <input id="for" name="for" type="text" class="form-control"
                                                            placeholder="Para" required>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <input name="cc" id="cc" type="text" class="form-control"
                                                            placeholder="Cc">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <input name="cco" id="cco" type="text" class="form-control"
                                                            placeholder="Cco">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <input name="title" id="title" type="text" class="form-control"
                                                            placeholder="Título" required>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <textarea name="message" type="text" id="message"
                                                            class="form-control" placeholder="Mensaje" required
                                                            style="height: 120px;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step-2">
                                        <div id="form-step-1" class="row" role="form" data-toggle="validator">
                                            <div class="form-group col-md-12 text-center">
                                                <h5 class="modal-title">Archivos adjuntos</h5>
                                                <h8 class="section-subheading text-muted">Agregue el enlace del informe
                                                    que se
                                                    adjuntará al correo electrónico.</h8>
                                            </div>
                                            <div class="form-group col-md-12 text-center">
                                                <h8 class="modal-title">Listado de Informes</h8>
                                                <select name="bis" id="bis" class="form-control">
                                                    <option value="" default disabled selected>Informes</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-12 text-center">
                                                <a data-add-report class="btn btn-success text-white">Agregar
                                                    Informe</a>
                                            </div>
                                            <div class="form-group col-md-12 text-center">
                                                <h8 class="modal-title">ou</h8>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <input name="urlinput" id="urlinput" type="url" class="form-control"
                                                    placeholder="URL del Informe">
                                            </div>
                                            <div class="form-group col-md-12 text-center">
                                                <a data-add-url class="btn btn-success text-white">Agregar
                                                    URL</a>
                                            </div>
                                            <div class="form-group col-md-12 text-center">
                                                <h8 class="modal-title">Lista de archivos adjuntos</h8>
                                                <select name="url" id="url" class="form-control" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step-3">
                                        <div id="form-step-2" class="row" role="form" data-toggle="validator">
                                            <div class="form-group col-md-12 text-center">
                                                <h5 class="modal-title">Calendario de envío</h5>
                                            </div>
                                            <div class="form-group col-md-12 text-center">
                                                <input class="form-control" type="datetime-local" name="date" id="date"
                                                    multiple>
                                            </div>
                                            <div class="form-group col-md-12 text-center">
                                                <a data-add-timer class="btn btn-success text-white">Agregar envio
                                                    programado</a>
                                            </div>
                                            <div class="form-group col-md-12 text-center">
                                                <h8 class="modal-title">Lista de Envíos programados</h8>
                                                <select name="schedule" id="schedule" class="form-control" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step-4">
                                        <div id="form-step-3" class="row" role="form" data-toggle="validator">
                                            <div class="form-group col-md-12 text-center">
                                                <h5 class="modal-title">Confirmar la programación del correo electrónico
                                                </h5>
                                            </div>
                                            <hr>
                                            <div class="form-group col-md-12 text-center">
                                                <label for="typejpg"><strong>
                                                        ¿Desea fusionar los archivos adjuntos en un solo archivo o
                                                        mantenerlos separados?</strong></label>
                                                <div class="custom-control custom-radio custom-control-inline"
                                                    color:black>
                                                    <input type="radio" class="custom-control-input perfil" id="typejpg"
                                                        name="type" value="1" required>
                                                    <label class="custom-control-label" for="typejpg">Reunir</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline"
                                                    color:black>
                                                    <input type="radio" class="custom-control-input perfil" id="typepdf"
                                                        name="type" value="2">
                                                    <label class="custom-control-label" for="typepdf">Manténgase
                                                        separado</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button class="btn btn-success text-uppercase"
                                                    type="submit">Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-modal modal fade" id="viewAttachment" tabindex="-1">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Archivo adjunto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-12 text-center">
                                <iframe data-attachment-image style="width: 1100px;height: 520px;" frameborder="0"
                                    scrolling="no" src="">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dropTimer" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Eliminar horario</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form data-drop-timer>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class=" col-md-12">
                                    El correo electrónico no se enviará a la hora seleccionada.
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class=" btn btn-danger"><i class="fas fa-times"> Eliminar</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dropAttachment" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Eliminar adjunto?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form data-drop-attachment>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class=" col-md-12">
                                    El archivo adjunto no se enviará en el correo electrónico seleccionado.
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class=" btn btn-danger"><i class="fas fa-times"> Eliminar</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addattachment" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar archivo adjunto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form data-mail-add-reports>
                        <div class="modal-body">
                            <div class="form-row">
                                <h8 class="section-subheading text-muted text-center">Agregue el enlace del informe que
                                    se
                                    adjuntará al correo electrónico.</h8>
                            </div>
                            <div class="form-group col-md-12 text-center">
                                <h8 class="modal-title">Listado de Informes</h8>
                                <select name="bis" id="newbis" class="form-control">
                                    <option value="" default disabled selected>Informes</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12 text-center">
                                <a data-new-report class="btn btn-success text-white">Agregar Informe</a>
                            </div>
                            <div class="form-group col-md-12 text-center">
                                <h8 class="modal-title">ou</h8>
                            </div>
                            <div class="form-group col-md-12">
                                <input name="urlinput" id="newurlinput" type="text" class="form-control"
                                    placeholder="URL del Informe">
                            </div>
                            <div class="form-group col-md-12 text-center">
                                <a data-new-url class="btn btn-success text-white">Agregar URL</a>
                            </div>
                            <div class="form-group col-md-12 text-center">
                                <h8 class="modal-title">Lista de archivos adjuntos</h8>
                                <select name="url" id="urlnew" class="form-control" multiple>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class=" btn btn-success"><i class="fas fa-plus"> Agregar</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addschedule" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar calendario de correo electrónico</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form data-mail-add-timer>
                        <div class="modal-body">
                            <div class="form-row col-md-12 text-center">
                                <div class="form-group col-md-12 text-center">
                                    <input class="form-control" type="datetime-local" name="date" id="datenew" multiple>
                                </div>
                                <div class="form-group col-md-12 text-center">
                                    <a data-add-new-timer class="btn btn-success text-white">Agregar envio
                                        programado</a>
                                </div>
                                <div class="form-group col-md-12 text-center">
                                    <h8 class="modal-title">Lista de Envíos programados</h8>
                                    <select name="schedule" id="newschedule" class="form-control" multiple>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class=" btn btn-success"><i class="fas fa-plus">
                                        Agregar</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dropmodal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Eliminar el Vendedor?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form data-drop-salesman>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class=" col-md-12">
                                    <h8>Ya no se puede vincular al vendedor para establecer objetivos y otras
                                        actividades.
                                    </h8>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class=" btn btn-danger"><i class="fas fa-times"> Eliminar</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addManager" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Enlace al gerente </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form data-add-manager>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <select title="Usuarios" class="form-control selectpicker" name="managerselect"
                                        id="managerselect" required>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class=" btn btn-success"><i class="fas fa-plus">
                                        Enlace</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addsalesman" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar vendedor al sistema </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form data-add-salesman>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <select title="Seleccione un vendedor para agregar al sistema"
                                        class="selectpicker form-control" name="salesmanselect" id="salesmanselect"
                                        multiple required>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <button type="submit" name="btn" class=" btn btn-success"><i class="fas fa-plus">
                                        Agregar</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <%- include(partials + 'script.ejs' ) %>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <script src="../js/libs/select-pure.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <script type="text/javascript"
            src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152197/smartwizard/jquery.smartWizard.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
        <script src="../js/libs/modal_wizard.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script type="module" src="../js/controllers/prosegurController.js"></script>
        <script type="module" src="../js/controllers/mailController.js"></script>
        <script type="module" src="../js/controllers/settingsController.js"></script>
        <script type="module" src="../js/controllers/salesmanController.js"></script>

        <%- include(partials + 'footer.ejs' ) %>