<%- include(partials + 'header.ejs' ) %>
    <link rel="stylesheet" href="../css/bootstrap-select.css" />
    <div class="container-fluid">

        <div class="row justify-content-md-center">
            <div class="col-md-12 text-center">
                <h1 class="h3 mb-4 font-weight-bold text-primary" data-title>Toma de Inventario</h1>
            </div>
        </div>

        <%- include('../partials/loading.ejs') %>

            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Generar informe de Toma de Inventario</h6>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/report/xlsx/dote">
                                <div class="form-row text-center">
                                    <div class="form-group offset-md-4 col-md-4">
                                        <h6 class="text-center">Seleccione un Stock</h6>
                                        <select title="Seleccione uno stock" class="form-control selectpicker" multiple
                                            name="stock" id="stockdote">
                                            <option value="01AUTOPJC">01AUTOPJC</option>
                                            <option value="01CAFE">01CAFE</option>
                                            <option value="01IMPPJC">01IMPPJC</option>
                                            <option value="02AUTOCDE">02AUTOCDE</option>
                                            <option value="01DOSRUED">01DOSRUED</option>
                                            <option value="03AUTOBVIS">03AUTOBVIS</option>
                                            <option value="04AUTOENC">04AUTOENC</option>
                                            <option value="05AUTOSAL">05AUTOSAL</option>
                                            <option value="06AUTOFDO">06AUTOFDO</option>
                                            <option value="06AUTOSHCH">06AUTOSHCH</option>
                                            <option value="07AUTOBADO">07AUTOBADO</option>
                                            <option value="10TRUCK">10TRUCK</option>
                                            <option value="12AUTORITA">12AUTORITA</option>
                                            <option value="13AUTOMRA">13AUTOMRA</option>
                                            <option value="DCCDE">DCCDE</option>
                                            <option value="DEPTRANIMP">DEPTRANIMP</option>
                                            <option value="MATRIZ">MATRIZ</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 text-center">
                                        <button type="submit" class="btn btn-info">Generar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <%- include(partials + 'script.ejs' ) %>
                <script type="module" src="../js/controllers/stockController.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
                <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
                <%- include(partials + 'footer.ejs' ) %>