<%- include(partials + 'header.ejs' ) %>
    <link rel="stylesheet" href="../css/bootstrap-select.css" />
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-12 text-center">
                <h1 class="h3 mb-4 font-weight-bold text-primary" data-title>Control de Punto</h1>
            </div>
        </div>

        <%- include('../partials/loading.ejs') %>

            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Buscar</h6>
                        </div>
                        <div class="card-body">
                            <form data-form-clock>
                                <div class="form-row">
                                    <div class="form-group col-md-12 text-center align-items-bottom">
                                        <h6>Filtrar Período</h6>
                                    </div>
                                    <div class="form-group offset-md-3 col-md-3">
                                        <h6>Fecha Inicial</h6>
                                        <input data-datestart type="date" name="start" id="start" class="form-control"
                                            required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <h6>Fecha Final</h6>
                                        <input data-dateend type="date" name="end" id="end" class="form-control"
                                            required>
                                    </div>
                                    <div class="form-group offset-md-3 col-md-2">
                                        <select title="Tipo" class="form-control selectpicker" id="type" name="type"
                                            data-type>
                                            <option value="0" selected>Todos los tipos</option>
                                            <option value="1">Entrada</option>
                                            <option value="2">Salida</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select title="Sucursal" class="form-control selectpicker" id="office"
                                            name="office" multiple data-office>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select title="Empleados" class="form-control selectpicker" id="code"
                                            name="code" multiple data-code>
                                        </select>
                                    </div>
                                    <div class="form-group text-center col-md-12">
                                        <button class="btn btn-success" type="submit">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div data-div-clock class="row justify-content-md-center d-none">
                <div class="col-md-10">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="form-group text-center col-md-12">
                                    <h6 class="m-0 font-weight-bold text-primary">Listado</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group text-center offset-md-5 col-md-2">
                                <select class="form-control" id="status" name="status" required data-status>
                                    <option value="0" selected>Todos los status</option>
                                    <option value="1">En horário</option>
                                    <option value="2">Fuera de horário</option>
                                </select>
                            </div>
                            <table class="table table-bordered text-center" id="dataClock" width="100%" cellspacing="0">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%- include(partials + 'script.ejs' ) %>
        <script type="module" src="../js/controllers/clockController.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
        <script src="../js/libs/select-pure.js"></script>

        <%- include(partials + 'footer.ejs' ) %>