<div class="col-12 mb-4">
    <div class="container-lg bg-gradient-primary fixed-menu responsive" data-modal-menu>
        <div class="collapse p-4 responsive" id="navbarResponsive">
            <div class="row align-items-start">
                <div class="col-3 text-white features-menu" data-fast-btns>
                    <p class="h6"><i class="fas fa-star"></i> Favoritos</p>
                    <p class="small text-white-50" data-fav-help>Agregue favoritos haciendo clic en la
                        estrella junto al nombre del servicio.</p>
                    <p class="small text-white-50 mb-1" data-favs-list></p>
                    <p class="h6 pt-2"><i class="fa fa-history"></i> Accedido recientemente</p>
                    <p class="small text-white-50 mb-1" data-recent></p>


                </div>
                <div class="col-9 column-menu">
                    <div class="row mb-4">
                        <div class="col-10 align-self-start">
                            <p class="h5 text-white">Todos los servicios</p>
                        </div>
                        <div class="col-2 text-white"><a data-close-menu><i
                                    class="fas fa-times text-light"></a></i></div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-white">
                            <p data-menu-title class="h6"><i class="fas fa-file-alt"></i> Informes</p>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Listado de Informes"
                                    data-fav-action="informes?1"><i class="btn-fav fas fa-star"></i></a>
                                <a  class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/informes/1">Listado de Informes</a>
                            </div>
                            <div class="mb-2"></div>
                            <p data-menu-title class="h6"><i class="fas fa-shield-alt"></i> Seguridad</p>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Vehículos" data-fav-action="data-menu-car"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-report="2"
                                    class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/informes/3" >Vehículos</a>
                            </div>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Sucursales" data-fav-action="data-menu-office"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-report="3"
                                    class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/sucursales" >Sucursales</a>
                            </div>
                            <div class="mb-2"></div>
                            <p data-menu-title class="h6"><i class="fas fa-folder"></i> Documentación</p>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Carpeta de archivos" data-fav-action="data-menu-archive"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a class="menu-item d-inline nav-link menu-link text-white-50"
                                href="/archivos" >Carpeta de archivos</a>
                            </div>
                            <div class="mb-2"></div>
                            <p data-menu-title class="h6"><i class="fas fa-shopping-cart"></i> Ventas</p>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="CRM" data-fav-action="data-menu-crm"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-charge class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/crm">CRM</a>
                            </div>
                        </div>
                        <div class="col-3 text-white">
                            <p class="h6"><i class="fas fa-money-bill-wave"></i> Finanza</p>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Cobranza" data-fav-action="data-menu-finance"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-charge class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/cobranza">Cobranza</a>
                            </div>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Diario Orden de Ventas" data-fav-action="data-menu-sale"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/ventas">Diario
                                    Orden de
                                    Ventas</a>
                            </div>
                            <div class="mb-2"></div>
                            <p data-menu-title class="h6"><i class="fas fa-th-large"></i> Articulos</p>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Metas" data-fav-action="data-menu-goal"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/metas" >Metas</a>
                            </div>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Listado de Stock" data-fav-action="data-menu-stock"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-item class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/stock" >Listado de Stock</a>
                            </div>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Listado de Precios y Saldos" data-fav-action="data-menu-price"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-item class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/precio">Listado de Precios y Saldos</a>
                            </div>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Informe Goodyear" data-fav-action="data-menu-goodyear"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-item class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/goodyear">Informe Goodyear</a>
                            </div>
                        </div>
                        <div class="col-3 text-white">
                            <p data-menu-title class="h6"><i class="fas fa-user-friends"></i> Recursos
                                humanos</p>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Informe de Personas" data-fav-action="data-menu-people"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-report="4"
                                    class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/informes/2">Informe de Personas</a>
                            </div>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Listado de Cuestionarios" data-fav-action="data-menu-quiz"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-person class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/cuestionario">Listado de Cuestionarios</a>
                            </div>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Control de Punto" data-fav-action="data-menu-point"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-person class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/punto">Control de Punto</a>
                            </div>
                            <div class="mb-2"></div>
                            <p class="h6" data-adm><i class="fas fa-users-cog"></i> Administración</p>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Listado de Usuarios" data-fav-action="data-menu-user"><i
                                        class="btn-fav fas fa-star"></i></a>
                                <a data-adm class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/usuarios">Listado de Usuarios</a>
                            </div>
                            <div class="d-block mb-2" data-div-link>
                                <a data-adm href="" data-fav data-fav-name="Listado de Patrimonio" data-fav-action="data-menu-company-assets"><i
                                        class="btn-fav fas fa-star"></i></a><a
                                    class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/patrimonio">Listado de Patrimonio</a>
                            </div>
                            <div class="d-block mb-1" data-div-link>
                                <a href="" data-fav data-fav-name="Listado de Informes"
                                    data-fav-action="informes?1"><i class="btn-fav fas fa-star"></i></a>
                                <a  class="menu-item d-inline nav-link menu-link text-white-50"
                                    href="/informes">Listado de Informes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>