<div class="d-none col-12 mb-4">
    <div class="container-lg bg-gradient-primary fixed-menu responsive" data-modal-menu>
        <div class="collapse p-4 responsive" id="navbarResponsive">
        </div>
    </div>
</div>

<script>
    document.querySelector('[data-history]').remove()
    document.querySelector('[data-topbar-search]').remove()
    document.querySelector('[data-selector-menu]').remove()
</script>