<div class="row justify-content-center align-items-center pt-3">
    <div class="col-md-11">
        <div class="card shadow mb-4">
            <div class="card-header">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <h6 class="m-0 font-weight-bold text-primary">Ingressar Expectativa de Cobro</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="row">
                        <div class="col-md-2">
                          <div data-div-expected-office class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"></div>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <table class="table table-bordered table-sm" id="dataInclude" width="100%"
                                    cellspacing="0">
                                </table>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>