<div class="form-row justify-content-center align-items-center">
    <div class="form-group col-5">
        <canvas class="flex d-inline" data-chart></canvas>
    </div>
    <div class="form-group col-5">
        <canvas class="flex d-inline" data-doughnut></canvas>
    </div>
</div>