<div class="row justify-content-center align-items-center pt-3">
    <div class="col-md-10">
        <div class="card shadow mb-4">
            <div class="card-header">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <h6 class="m-0 font-weight-bold text-primary">Resumen y Detallado</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-3">
                        <div data-div-resume-office class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical"></div>
                    </div>
                    <div class="col-md-9">
                        <table class="table table-bordered table-sm text-center" id="dataResume" width="100%"
                            cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>