<div class="card shadow mt-4 mb-4">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">Buscar</h6>
    </div>
    <div class="card-body">
        <form data-search-goal-offices>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="office">Sucursal</label>
                    <select id="suoffice" name="office" class="form-control" data-office>
                        <option value="ALL" selected>Todas las sucursales</option>
                        <% offices.forEach(office=> { %>
                           <% if(office.id_office != 15) {%>  <option value="<%=office.code%>"><%= office.name %></option> <% } %> 
                            <% }) %>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="month">Mes</label>
                    <input class="form-control" type="month" id="sumonth" name="month" required>
                </div>
                <div class="form-group col-md-12 text-center">
                    <button data-btn-goal-offices class="btn btn-info" type="submit">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div data-goal-offices>
   
</div>